<?xml version="1.0" encoding="utf-8"?>
<profile>
  <section name="AppSettings">
    <entry name="SourceFolder">E:\Customers\Hastech\TestFolders\ToolCompData</entry>
    <entry name="FileName">LabelFile.txt</entry>
    <entry name="UseZebraPrinter">True</entry>
    <entry name="LoggingLevel">4</entry>
    <entry name="DelayStart">5000</entry>
  </section>
  <section name="Parts">
    <entry name="NumberOfParts">3</entry>
    <entry name="Part1">10R100_4X2</entry>
    <entry name="Part2">10R100_4X4</entry>
    <entry name="Part3">10R80_4X2</entry>
  </section>

  <section name="ZebraPrinter">
    <entry name="PrinterIp">192.168.0.17</entry>
    <entry name="PrefixStartPos">25</entry>
    <entry name="DataStartPos">275 </entry>
  </section>
  <section name="10R100_4X2">
    <entry name="NumberItems">56</entry>
    <entry name="PrefixItem0">Count</entry>
    <entry name="PrefixItem1">DIST CRR SP PL PN 1 PT 1</entry>
    <entry name="PrefixItem2">DIST CRR SP PL PN 1 PT 2</entry>
    <entry name="PrefixItem3">DIST CRR SP PL PN 1 PT 3</entry>
    <entry name="PrefixItem4">DIST CRR SP PL PN 2 PT 1</entry>
    <entry name="PrefixItem5">DIST CRR SP PL PN 2 PT 2</entry>
    <entry name="PrefixItem6">DIST CRR SP PL PN 2 PT 3</entry>
    <entry name="PrefixItem7">DIST CRR SP PL PN 3 PT 1</entry>
    <entry name="PrefixItem8">DIST CRR SP PL PN 3 PT 2</entry>
    <entry name="PrefixItem9">DIST CRR SP PL PN 3 PT 3</entry>
    <entry name="PrefixItem10">DIST CRR SP PL PN 4 PT 1</entry>
    <entry name="PrefixItem11">DIST CRR SP PL PN 4 PT 2</entry>
    <entry name="PrefixItem12">DIST CRR SP PL PN 4 PT 3</entry>
    <entry name="PrefixItem13">PAR Pinion 1 to Datum D</entry>
    <entry name="PrefixItem14">PAR Pinion 2 to Datum D</entry>
    <entry name="PrefixItem15">PAR Pinion 3 to Datum D</entry>
    <entry name="PrefixItem16">PAR Pinion 4 to Datum D</entry>
    <entry name="PrefixItem17">Dia Up Pinion Hole 1</entry>
    <entry name="PrefixItem18">Dia Lo Pinion Hole 1</entry>
    <entry name="PrefixItem19">Dia Up Pinion Hole 2</entry>
    <entry name="PrefixItem20">Dia Lo Pinion Hole 2</entry>
    <entry name="PrefixItem21">Dia Up Pinion Hole 3</entry>
    <entry name="PrefixItem22">Dia Lo Pinion Hole 3</entry>
    <entry name="PrefixItem23">Dia Up Pinion Hole 4</entry>
    <entry name="PrefixItem24">Dia Lo Pinion Hole 4</entry>
    <entry name="PrefixItem25">TP Up Pin Hole 1 to -A-G-</entry>
    <entry name="PrefixItem26">TP Lo Pin Hole 1 to -A-G-</entry>
    <entry name="PrefixItem27">TP Up Pin Hole 2 to -A-G-</entry>
    <entry name="PrefixItem28">TP Lo Pin Hole 2 to -A-G-</entry>
    <entry name="PrefixItem29">TP Up Pin Hole 3 to -A-G-</entry>
    <entry name="PrefixItem30">TP Lo Pin Hole 3 to -A-G-</entry>
    <entry name="PrefixItem31">TP Up Pin Hole 4 to -A-G-</entry>
    <entry name="PrefixItem32">TP Lo Pin Hole 4 to -A-G-</entry>
    <entry name="PrefixItem33">Perp Pin Holes 1 to -B-</entry>
    <entry name="PrefixItem34">Perp Pin Holes 2 to -B-</entry>
    <entry name="PrefixItem35">Perp Pin Holes 3 to -B-</entry>
    <entry name="PrefixItem36">Perp Pin Holes 4 to -B-</entry>
    <entry name="PrefixItem37">Journal Dia -A-</entry>
    <entry name="PrefixItem38">Journal Dia -G-</entry>
    <entry name="PrefixItem39">Spider Plate Inside Dia</entry>
    <entry name="PrefixItem40">TP SP PL ID to -A-G-E</entry>
    <entry name="PrefixItem41">TTL R/o SP PL to -A-G-</entry>
    <entry name="PrefixItem42">STRGHTNS SP PL Top Face</entry>
    <entry name="PrefixItem43">Pro R70 FC1 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem44">Pro R70 FC1 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem45">Pro R70 FC2 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem46">Pro R70 FC2 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem47">Pro R70 FC3 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem48">Pro R70 FC3 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem49">Pro R70 FC4 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem50">Pro R70 FC4 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem51">Bushing Inside Diameter</entry>
    <entry name="PrefixItem52">Dis SP PL Top FC to -B-</entry>
    <entry name="PrefixItem53">Spline MJR Outside Dia</entry>

  </section>
  <section name="10R100_4X4">
    <entry name="NumberItems">55</entry>
    <entry name="PrefixItem0">Count</entry>
    <entry name="PrefixItem1">DIST CRR SP PL PN 1 PT 1</entry>
    <entry name="PrefixItem2">DIST CRR SP PL PN 1 PT 2</entry>
    <entry name="PrefixItem3">DIST CRR SP PL PN 1 PT 3</entry>
    <entry name="PrefixItem4">DIST CRR SP PL PN 2 PT 1</entry>
    <entry name="PrefixItem5">DIST CRR SP PL PN 2 PT 2</entry>
    <entry name="PrefixItem6">DIST CRR SP PL PN 2 PT 3</entry>
    <entry name="PrefixItem7">DIST CRR SP PL PN 3 PT 1</entry>
    <entry name="PrefixItem8">DIST CRR SP PL PN 3 PT 2</entry>
    <entry name="PrefixItem9">DIST CRR SP PL PN 3 PT 3</entry>
    <entry name="PrefixItem10">DIST CRR SP PL PN 4 PT 1</entry>
    <entry name="PrefixItem11">DIST CRR SP PL PN 4 PT 2</entry>
    <entry name="PrefixItem12">DIST CRR SP PL PN 4 PT 3</entry>
    <entry name="PrefixItem13">PAR Pinion 1 to Datum D</entry>
    <entry name="PrefixItem14">PAR Pinion 2 to Datum D</entry>
    <entry name="PrefixItem15">PAR Pinion 3 to Datum D</entry>
    <entry name="PrefixItem16">PAR Pinion 4 to Datum D</entry>
    <entry name="PrefixItem17">Dia Up Pinion Hole 1</entry>
    <entry name="PrefixItem18">Dia Lo Pinion Hole 1</entry>
    <entry name="PrefixItem19">Dia Up Pinion Hole 2</entry>
    <entry name="PrefixItem20">Dia Lo Pinion Hole 2</entry>
    <entry name="PrefixItem21">Dia Up Pinion Hole 3</entry>
    <entry name="PrefixItem22">Dia Lo Pinion Hole 3</entry>
    <entry name="PrefixItem23">Dia Up Pinion Hole 4</entry>
    <entry name="PrefixItem24">Dia Lo Pinion Hole 4</entry>
    <entry name="PrefixItem25">TP Up Pin Hole 1 to -A-G-</entry>
    <entry name="PrefixItem26">TP Lo Pin Hole 1 to -A-G-</entry>
    <entry name="PrefixItem27">TP Up Pin Hole 2 to -A-G-</entry>
    <entry name="PrefixItem28">TP Lo Pin Hole 2 to -A-G-</entry>
    <entry name="PrefixItem29">TP Up Pin Hole 3 to -A-G-</entry>
    <entry name="PrefixItem30">TP Lo Pin Hole 3 to -A-G-</entry>
    <entry name="PrefixItem31">TP Up Pin Hole 4 to -A-G-</entry>
    <entry name="PrefixItem32">TP Lo Pin Hole 4 to -A-G-</entry>
    <entry name="PrefixItem33">Perp Pin Holes 1 to -B-</entry>
    <entry name="PrefixItem34">Perp Pin Holes 2 to -B-</entry>
    <entry name="PrefixItem35">Perp Pin Holes 3 to -B-</entry>
    <entry name="PrefixItem36">Perp Pin Holes 4 to -B-</entry>
    <entry name="PrefixItem37">Journal Dia -A-</entry>
    <entry name="PrefixItem38">Journal Dia -G-</entry>
    <entry name="PrefixItem39">Spider Plate Inside Dia</entry>
    <entry name="PrefixItem40">TP SP PL ID to -A-G-E-</entry>
    <entry name="PrefixItem41">TTL R/o SP PL to -A-G-</entry>
    <entry name="PrefixItem42">STRGHTNS SP PL Top Face</entry>
    <entry name="PrefixItem43">Pro R70 FC1 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem44">Pro R70 FC1 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem45">Pro R70 FC2 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem46">Pro R70 FC2 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem47">Pro R70 FC3 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem48">Pro R70 FC3 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem49">Pro R70 FC4 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem50">Pro R70 FC4 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem51">Bushing Inside Diameter</entry>
    <entry name="PrefixItem52">Dis SP PL Top FC to -B-</entry>

  </section>
  <section name="10R80_4X2">
    <entry name="NumberItems">46</entry>
    <entry name="PrefixItem0">Count</entry>
    <entry name="PrefixItem1">DIST CRR SP PL PN 1 PT 1</entry>
    <entry name="PrefixItem2">DIST CRR SP PL PN 1 PT 2</entry>
    <entry name="PrefixItem3">DIST CRR SP PL PN 1 PT 3</entry>
    <entry name="PrefixItem4">DIST CRR SP PL PN 2 PT 1</entry>
    <entry name="PrefixItem5">DIST CRR SP PL PN 2 PT 2</entry>
    <entry name="PrefixItem6">DIST CRR SP PL PN 2 PT 3</entry>
    <entry name="PrefixItem7">DIST CRR SP PL PN 3 PT 1</entry>
    <entry name="PrefixItem8">DIST CRR SP PL PN 3 PT 2</entry>
    <entry name="PrefixItem9">DIST CRR SP PL PN 3 PT 3</entry>
    <entry name="PrefixItem10">PAR Pinion 1 to Datum D</entry>
    <entry name="PrefixItem11">PAR Pinion 2 to Datum D</entry>
    <entry name="PrefixItem12">PAR Pinion 3 to Datum D</entry>
    <entry name="PrefixItem13">Dia Up Pinion Hole 1</entry>
    <entry name="PrefixItem14">Dia Lo Pinion Hole 1</entry>
    <entry name="PrefixItem15">Dia Up Pinion Hole 2</entry>
    <entry name="PrefixItem16">Dia Lo Pinion Hole 2</entry>
    <entry name="PrefixItem17">Dia Up Pinion Hole 3</entry>
    <entry name="PrefixItem18">Dia Lo Pinion Hole 3</entry>
    <entry name="PrefixItem19">TP Up Pin Hole 1 to -A-G-</entry>
    <entry name="PrefixItem20">TP Lo Pin Hole 1 to -A-G-</entry>
    <entry name="PrefixItem21">TP Up Pin Hole 2 to -A-G-</entry>
    <entry name="PrefixItem22">TP Lo Pin Hole 2 to -A-G-</entry>
    <entry name="PrefixItem23">TP Up Pin Hole 3 to -A-G-</entry>
    <entry name="PrefixItem24">TP Lo Pin Hole 3 to -A-G-</entry>
    <entry name="PrefixItem25">Perp Pin Holes 1 to -B-</entry>
    <entry name="PrefixItem26">Perp Pin Holes 2 to -B-</entry>
    <entry name="PrefixItem27">Perp Pin Holes 3 to -B-</entry>
    <entry name="PrefixItem28">Journal Dia -A-</entry>
    <entry name="PrefixItem29">Journal Dia -G-</entry>
    <entry name="PrefixItem30">Spider Plate Inside Dia</entry>
    <entry name="PrefixItem31">TP SP PL ID to -A-G-E</entry>
    <entry name="PrefixItem32"> TTL R/o SP PL to -A-G-</entry>
    <entry name="PrefixItem33">STRGHTNS SP PL Top Face</entry>
    <entry name="PrefixItem34">Pro R70 FC1 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem35">Pro R70 FC1 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem36">Pro R70 FC2 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem37">Pro R70 FC2 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem38">Pro R70 FC3 PT1 to -A-G-E-</entry>
    <entry name="PrefixItem39">Pro R70 FC3 PT2 to -A-G-E-</entry>
    <entry name="PrefixItem40">Spigot Diameter</entry>
    <entry name="PrefixItem41">Bushing Inside Diameter</entry>
    <entry name="PrefixItem42">Dis SP PL Top FC to -B-</entry>
    <entry name="PrefixItem43">Spline Major Outside Dia</entry>
  </section>

</profile>